.canvas {
    display: block;
    position: relative;
}

.thumb-container {
    position: relative;
}

.thumb {
    position: absolute;
    cursor: pointer;
    background: rgba(125, 125, 125, 0.6);
    display: inline;
}

.thumb-middle {
    position: absolute;
    cursor: pointer;
    background: transparent;
    display: inline;
    border-top: 2px solid rgba(125, 125, 125, 0.6);
    border-bottom: 2px solid rgba(125, 125, 125, 0.6);
    opacity: 0.5;
}

.checkbox-container {
    position: relative;
    display: block;
}

.container {
    display: inline-block;
    position: relative;
    padding: 8px 8px 8px 40px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid #eee;
    border-radius: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-top: 8px;
    margin-left: 8px;
    border: 2px solid transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}