html {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font: 16px bold HelveticaNeue-Light,Helvetica,sans-serif;
}

h2 {
    font-size: 20px;
}

.day {
    background: #ffffff;
    color: #222222;
}

.night {
    background: #242f3e;
    color: #ffffff;
}

.wrap-main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wrap {
    flex: 0 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.wrap-control, .wrap-legend {
    position: relative;
    height: 50px;
}

.control {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 50px;
}

.window {
    z-index: 1;
    border-style: solid;
    border-width: 1px 4px;
    box-sizing: border-box;
    cursor: ew-resize;
    border-color: rgba(185,213,231,.5);
    width: 25%;
}

.overlay {
    background: rgba(242,247,250,.75);
}

.overlay.l {
    width: 75%;
}

.overlay.r {
    width: 0;
}

.control .overlay, .control .window {
    will-change: width;
}

.night .control .overlay {
    background: rgba(30,40,54,.75);
}

.night .control .window {
    border-color: rgba(92,125,152,.5);
}

.wrap-chart {
    position: relative;
    height: 250px;
}

.wrap-chart canvas, .wrap-control canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.theme-switch {
    position: absolute;
    left: 50%;
    width: 200px;
    margin: 40px 0 40px -100px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    z-index: 1;
    top: 50px;
    border-radius: 5px;
    padding: 10px;
    transition: opacity .2s;
    white-space: nowrap;
}

.tooltip .date {
    margin-bottom: 10px;
    font-family: HelveticaNeue,Helvetica,sans-serif;
}

.tooltip span {
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
}

.tooltip span b {
    display: block;
    font-size: 18px;
}

.night .tooltip {
    background: #253241;
    box-shadow: rgba(24,33,42,.5) 0 1px 2px;
}

.wrap-legend {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.wrap-legend li {
    margin: 5px 10px 0 0;
    padding: 6px 12px 6px 6px;
    font-size: 14px;
    animation: .5s;
    cursor: pointer;
    border-radius: 17px;
}

.day .wrap-legend li {
    border-color: #e6ecf0;
}

.wrap-legend i {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border-radius: 50%;
    vertical-align: -7px;
    transition: background-color .2s;
}

.wrap-legend .on i {
    background-image: url('../resources/svg/check.svg');
}

.wrap-legend .off i {
    background-color: transparent!important;
}

.wrap-legend i, .wrap-legend li {
    display: inline-block;
    border: 1px solid;
}

.night .wrap-legend li {
    border-color: #354558;
}

.container {
    display: inline-block;
    position: relative;
    padding: 8px 8px 8px 40px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #eee;
    border-radius: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.night .container {
    border-color: #354558;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-top: 8px;
    margin-left: 8px;
    border: 2px solid transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}